<h1>Search for Flights</h1>

<%= form_with model: @flight, method: :get do |form| %>
  <%= form.label :departure, 'Departure Airport' %><br>
  <%= form.select(:departure, @airport_options) %><br>
  <%= form.label :arrival, 'Arrival Airport' %><br>
  <%= form.select(:arrival, @airport_options) %><br>
  <%= form.label :passengers, 'Number of Passengers' %><br>
  <%= form.select(:passengers, [1, 2, 3, 4]) %><br>
  <%= form.label :date, 'Date of Departure' %><br>
  <%= form.select(:date, @date_options.uniq) %><br><br>
  <%= form.submit 'Search' %>
<% end %>

<% unless @availible_flights.nil? %>
  <h1>Availible Flights</h1>
  <% if @availible_flights.empty? %>
    <p>No flights found matching those options!</p>
  <% else %>
    <%= form_with model: @booking, url: new_booking_path, method: :get do |form| %>
      <ul>
        <% @availible_flights.each do |flight| %>
          <li>
            <%= form.label :booking, "Date: #{flight.start_datetime.strftime("%m/%d/%Y")} Time: #{flight.start_datetime.strftime("%I:%M%p")} Duration: #{flight.flight_duration} minutes" %>
            <%= form.radio_button :booking, flight.id %>
          </li>
        <% end %>
      </ul>
      <%= form.hidden_field :tickets, value: @tickets %>
      <%= form.submit 'Select' %>
    <% end %>
  <% end %>
<% end %>

